# Исключение файлов среды разработки PyCharm
.idea/
*.iml
*.xml

# Исключение виртуальных окружений
venv/
env/

# Исключение временных файлов Python
*.pyc
__pycache__/

# Исключение логов
*.log

# Исключение конфиденциальных файлов
.env
